* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: 'Ubuntu', Arial, sans-serif;
}

main {
  width: 1020px;
  margin: auto;
}

.keyboard {
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.show {
  display: flex;
  opacity: 1;
}


.message {
  color: rgba(85, 85, 85, 0.8);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: absolute;
  z-index: 99;

}


.show-splash {
  animation: fadeInOut 2s linear;
  -webkit-animation: fadeInOut 2s linear;
}

.keyboard__row {
  display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
}

.keyboard__key {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(209, 209, 209);
}

.active {
  background: red;
}

.letter {
  font-size: 25px;
  width: 100%;
  text-align: center;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  font-size: 16px;
  text-align: center;
  padding-right: 10px;
  width: 50%;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

textarea.output {
  resize: none;
  width: 100%;
  height: 33vh;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 1px;
}

.sub {
  width: 100%;
  color: #68688a;
  text-align: center;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  width: 50%;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}

.sub.sub-active:not(:empty) {
  color: rgb(182, 0, 0);
  text-align: center;
  padding: 0;
  font-size: 23px;
  width: 50%;
  width: 50%;
  transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}
}